---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';

const allPosts = await getCollection("posts");
const pageTitle = "My blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Where I keep my writings init</h2>
    <ul>
        {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
    </ul>
</BaseLayout>